.price__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  font-size: 1.3rem;
}

.price__btn {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
  text-decoration: none;

  &:hover {
    background-color: var(--main-hover-color);
  }
}

.price__initial {
  text-decoration: line-through;
  text-decoration-color: rgb(255, 82, 82);
  margin-right: 15px;
  font-style: italic;
}

.price__actual {
  font-weight: bold;
}
